body {
    background-color: rgb(22, 10, 5) ;
    color: honeydew;
    text-align: center;
    margin: 0;
    border: 0;
    max-width: 100%;
    width: 100%;
    font-family: Franklin Gothic Medium;
    
}

.laqua {
    color: brown;
}
h1, h3 {
    margin-top: 1%;
    margin-bottom: 1%;
    color: brown;
    margin: .2;
    padding: .2;
    font-size: 300%;
}

h3 {
    font-size: 200%
}

p {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 110%;
    margin: .2%;
}

hr {
    
    background-color: honeydew;
    color: honeydew;
    padding: .8px;
    width: 30%;
    
}

.vsmall {
    /* These filters are turning the image black and white, and then brown. */
     filter:grayscale(95%) opacity(75%) drop-shadow(0 0 0 brown) brightness(1.2);
     
    max-width: 50px;
    border-radius: 60%;
    
    
 } 

 .vsmall2 {
    filter:grayscale(95%) opacity(75%) drop-shadow(0 0 0 brown) brightness(1.2);
     

    max-height: 35px;
    border-radius: 40%;
 }

.small {
   /* These filters are turning the image black and white, and then brown. */
    filter:grayscale(95%) opacity(75%) drop-shadow(0 0 0 brown) brightness(1.2);
    
   max-width: 20%;
   border-radius: 60%;   
}

fieldset {
    margin: auto;
    
    max-width:fit-content;
}
 

.tiny {
    margin: 0;
    font-size: 70%;
}



